/* Common */
* {
  /* to include padding & border in width & heigher calculations */
  box-sizing: border-box;
}
h1, h2 {
  font-family: "Signika", sans-serif;
}
h1 {
  font-size: 40px;
}
body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  background-color: #fcfcfc;
  max-width: 800px;
}

.header-nav {
  margin: 0 auto;
  padding: 0 1em;
}

.content {
  margin-left: 100px;
}

.hide {
  display: none;
}

#errors {
  font-weight: bold;
  color: red;
}

/* job list & columns */


.job-columns{
  display: grid;
  max-width: 800px;
  grid-template-columns: 1fr 1fr;
}

.job-list-completed {
  display: flex;
  flex-direction: column;
  max-width: 25%;
}

.job-list-incomplete {
  display: flex;
  flex-direction: column;
  max-width: 25%;
}

.job {
  max-width: 100%;
}