:root {
  --red: #E27D60;
  --blue: #85DCBA;
  --orange: #E8A87C;
  --vino: #C38D9E;
  --green: #41B3A3;
  --purple: #8B7AEC;
  --white: #fcfcfc;
}

/* Common */
* {
  /* to include padding & border in width & heigher calculations */
  box-sizing: border-box;
}

h1, h2 {
  font-family: "Signika", sans-serif;
}

h1 {
  font-size: 40px;
}

#header-nav > nav > h1 > a {
  text-decoration: none;
  color: var(--white);
}

#userName {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

#userName > p {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 1em;
}


#logout {
  grid-column-start: 4;
  justify-self: center;
  align-self: center;
  padding: 0.5em;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  background-color: var(--white);
  max-width: 100%;
  overflow-wrap: break-word;
  display: grid;
  grid-template-columns: 1fr;
}

.content {
  /* margin-left: 100px; */
  width: 100%;
  margin: 0 auto;
}

.hide {
  display: none;
}

#errors {
  font-weight: bold;
  color: red;
}