<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit a job</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Signika:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/navigation.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/forms.css">

  <script type='text/javascript' src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  
  <script src="/js/initialize.js" defer></script>
  <script src="/js/edit_job.js" defer></script>
  <script src="/js/header-nav.js" defer></script>

</head>

<body>
  <h1>JobWatch</h1>
  <header id="header-nav" class="header-nav"></header>
  <section id="page" class="content"></section>
  <section id="errors" style="display: hidden">
    <h2> Sorry! You don't have access to this page. </h2>
    <p> Please log in to continue</p>
  </section>

  <section class="login-nav" id="login-nav" style="display: hidden">
    <div><a href="/login.html">Log In</a></div>
    <div><a href="/sign_up.html">Sign Up</a></div>
  </section>
</body>

</html>

